.navbar {
    background-color: #008000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-list a:hover {
    color: #ffd700;
  }
  