<header>
   <div class="container">
      <a routerLink="/" class="logo">Green Leaf Veggies</a>
      <nav>
        <ul>
           <li>
            <a href="">login</a>
           </li>
           <li class="menu-container">
            <a routerLink="/dashboard">DashBoard</a>
             <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/order">Order</a>
              <a routerLink="/logout">Logout</a>
             </div>
          </li>
          <li>
              <a routerLink="/cart">Cart </a>
          </li>
        </ul>
      </nav>
   </div>
</header>