<app-search-term></app-search-term>
<app-tag></app-tag>
<app-food></app-food>
<ul>
  <li *ngFor="let greenLeaf of greenLeafs">
    <a routerLink="/greenLeaf,  greenLeaf.id">
      <img [src]="greenLeaf.imageUrl" [alt]="greenLeaf.name">
      <div class="content">
        <div class="name">
            {{greenLeaf.name}}
        </div>
        <span class="favorite {{greenLeaf.favorite?'':'not'}}"></span>
        <div class="stars">
         <span class="star {{greenLeaf.stars}}"></span>
        </div>
        <div class="productItem">
          <div class="origins">
            <span *ngFor="let orgin of greenLeaf.orgins">{{orgin}}</span>
          </div>
        </div>
        <div class="delivery">
          {{greenLeaf.deliveryTime}}
        </div>
        <div class="tag">
           {{greenLeaf.tag}}
        </div>
        <div class="price">
             <span>{{greenLeaf.price | currency}}</span>
        </div>
      </div>
    </a>
  </li>
</ul>