ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    flex: 0 0 20rem;
    margin: 0.5rem;
  }
  
  li a {
    height: 22rem;
    display: flex;
    flex-direction: column;
    border: 1rem solid #808080;
    border-radius: 1rem;
    overflow: hidden;
    color: #000;
    text-decoration: none;
  }
  
  li a:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  li a img {
    object-fit: contain;
    height: 15rem;
    width: 100%;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem;
    margin-top: 0.3rem;
  }
  
  .favorite {
    font-size: 1.2rem;
    margin-top: auto;
  }
  
  .stars {
    margin-bottom: 0.2rem;
  }
  
  .productItem {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .origins {
    flex: 9;
  }
  
  .origins span {
    margin-top: 0.2rem;
    padding: 0 0.5rem;
    margin: 0.3rem;
    color: #dc144c;
    font-size: 0.8rem;
    display: inline-block;
    background-color: #fff000;
    border-radius: 2rem;
  }
  
  .delivery {
    flex: 4;
    font-size: 0.8rem;
  }
  
  .tag {
    flex: 1;
  }
  
  .price {
    font-size: 1rem;
    margin-top: 0.8rem;
    color: #dc144c;
    padding: 0.3rem;
    background: #fff;
  }
  