<div>
    <form class="formGroup">
      <div class="formControl">
        <label for="nom">Nom: </label>
        <input id="nom" type="text"  placeholder="Your Name">
      </div>
  
      <div class="formControl">
        <label for="postNom">Post Nom: </label>
        <input id="postNom" type="text"  placeholder="Your Post">
      </div>
  
      <div class="formControl">
        <label for="tonNumero">Ton Numero: </label>
        <input id="tonNumero" type="text" placeholder="Your Numero">
      </div>
  
      <div class="formControl">
        <label for="email">Email: </label>
        <input id="email" type="text" placeholder="Your Email">
      </div>
    </form>
    <button class="SubmitButton">Submit</button>
  </div>
  