<div>
    <form>
    <label for="nom">Nom: </label>
    <input id="nom" type="text" [formControl]="nom" placeholder="Your Name">

    <label for="postNom">Post Nom: </label>
    <input id="postNom" type="text" [formControl]="postNom" placeholder="Your Post">

    <label for="tonNumero">Ton Numero: </label>
    <input id="tonNumero" type="text" [formControl]="tonNumero" placeholder="Your Numero">

    <label for="email">Email: </label>
    <input id="email" type="text" [formControl]="email" placeholder="Your Email">
   </form>
   <button>Submit</button>
</div>
<footer class="footer">
    <p>&copy; 2024 Green Leaf Fruit and Veggie Shop</p>
</footer>
